In [1]:
from banks import banks
import requests
import pandas as pd
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.graph_objects as go
import matplotlib.pyplot as plt

In [1]:
id_tuple = [('Активи','BS1_AssetsTotal'),("Зобов'язання",'BS1_LiabTotal'),
('Капітал','BS1_CapitalTotal'),('Доходи і витрати - Всього доходів','BS1_IncomeTotal'),
('Доходи і витрати - Всього витрат','BS1_ExpenTotal'),('Доходи і витрати - Прибуток/(збиток) до оподаткування','BS1_ProfitLossBeforTax'),
('Доходи і витрати - Прибуток/(збиток) після оподаткування','BS1_ProfitLossAfterTax')]

In [2]:
[i[0] for i in id_tuple]

['Активи',
 "Зобов'язання",
 'Капітал',
 'Доходи і витрати - Всього доходів',
 'Доходи і витрати - Всього витрат',
 'Доходи і витрати - Прибуток/(збиток) до оподаткування',
 'Доходи і витрати - Прибуток/(збиток) після оподаткування']

In [21]:
id_choice=id_tuple[0][0]
[i[1] for i in id_tuple if i[0]==id_choice][0]

'BS1_AssetsTotal'

In [7]:
def get_data_all(id_api):
    BASE_URL = 'https://bank.gov.ua/NBUStatService/v1/statdirectory/banksfinrep?id_api={id_api}&start=20180101&period=m&json'
    url = BASE_URL.format(id_api=id_api)
    r = requests.get(url)
    source=r.json()
    return source

In [66]:
id_api1='BS1_ProfitLossBeforTax'
id_api2='BS1_AllocProv'

source1=get_data_all(id_api1)
source2=get_data_all(id_api2)
source3=source1+source2
df1 = pd.DataFrame(source3)
df1['dt']=pd.to_datetime(df1.dt)
df_pivot=df1.pivot_table(index=['dt','gr_bank','fullname'],columns='id_api',values='value').reset_index()
df_pivot['BS1_ProfitLossBeforTax_PLUS_BS1_AllocProv']=df_pivot.BS1_ProfitLossBeforTax+df_pivot.BS1_AllocProv
df_pivot.columns.name=''
df_pivot=df_pivot.drop(columns=['BS1_AllocProv','BS1_ProfitLossBeforTax'])

In [67]:
df_pivot

,dt,gr_bank,fullname,BS1_ProfitLossBeforTax_PLUS_BS1_AllocProv
0,2018-01-01,A,"АБ ""УКРГАЗБАНК""",1488.0081
1,2018-01-01,A,"АТ ""Ощадбанк""",1963.0395
2,2018-01-01,A,"АТ ""Укрексімбанк""",2375.2927
3,2018-01-01,A,"АТ КБ ""ПриватБанк""",-1530.0569
4,2018-01-01,A,"ПАТ ""РОЗРАХУНКОВИЙ ЦЕНТР""",8.3193
...,...,...,...,...
2508,2020-08-01,E,"ПАТ ""БАНК ВОСТОК""",123.0907
2509,2020-08-01,E,"ПАТ ""МТБ БАНК""",107.5130
2510,2020-08-01,E,Полікомбанк,12.0890
2511,2020-08-01,E,"ПрАТ ""БАНК ФАМІЛЬНИЙ""",19.4673
2512,2020-08-01,E,"ПуАТ ""КБ ""АКОРДБАНК""",82.4815

In [61]:
df=df.groupby([df.dt,df.gr_bank]).value.sum().reset_index()
df[df.gr_bank.isin(['A','B'])]

           dt gr_bank       value
0    20180101       A  37580.0611
1    20180101       B  43747.5756
4    20180201       A   2540.8851
5    20180201       B   3525.5499
8    20180301       A   4554.9560
..        ...     ...         ...
105  20200601       B  21364.3800
107  20200701       A  42762.1395
108  20200701       B  25122.6183
110  20200801       A  48787.5556
111  20200801       B  29279.3233

[64 rows x 3 columns]

In [62]:
df=df[~(df.gr_bank=='F')].reset_index()

In [63]:
df['dt']=pd.to_datetime(df.dt)
df=df.groupby([df.dt,df.gr_bank]).value.sum().reset_index()

In [64]:
df

           dt gr_bank       value
0  2018-01-01       A  37580.0611
1  2018-01-01       B  43747.5756
2  2018-01-01       E  18071.0408
3  2018-02-01       A   2540.8851
4  2018-02-01       B   3525.5499
..        ...     ...         ...
91 2020-07-01       B  25122.6183
92 2020-07-01       E  15893.2155
93 2020-08-01       A  48787.5556
94 2020-08-01       B  29279.3233
95 2020-08-01       E  18883.6490

[96 rows x 3 columns]

In [6]:
agg_multi_select = [('Банки з державною часткою',"A"),
    ('Банки іноземних банківських груп',"B"),
    ('Банки з приватним капіталом','E')]
agg_choice = [i[1] for i in agg_multi_select]

In [34]:
gr_bank=list(df.gr_bank)
a=[]
for i in gr_bank:
    for j in agg_multi_select:
        if i ==j[1]:
            a.append(j[0])
df['gr_name']=pd.Series(a)

In [58]:
df.columns

Index(['dt', 'txt', 'txten', 'id_api', 'leveli', 'parent', 'freq', 'nkb',
       'mfo', 'fullname', 'gr_bank', 'r034', 'value', 'tzep', 'gr_name'],
      dtype='object')

In [69]:
df_con=df.groupby([df.dt,df.gr_bank]).value.sum().reset_index()
df_con=df_con[df_con.gr_bank.isin(agg_choice)]
gr_bank=list(df_con.gr_bank)
a=[]
for i in gr_bank:
    for j in agg_multi_select:
        if i.strip() ==j[1]:
            a.append(j[0])
df_con['gr_name']=pd.Series(a)
df_con = df_con.loc[:,['dt','gr_name','value']]
df_con.columns = ['Дата',"Банк","Значення"]

In [72]:
len(gr_bank),df_con.shape

(96, (96, 3))