In [192]:
import requests

# prepare the url

BASE_URL = 'https://bank.gov.ua/NBUStatService/v1/statdirectory/banksfinrep?mfo={mfo}&date={date}&period=m&json'

mfo = 305299
date= 20200201

url = BASE_URL.format(mfo=mfo,date=date)
r = requests.get(url)
r

In [18]:
import pandas as pd

In [15]:
url

'https://bank.gov.ua/NBUStatService/v1/statdirectory/banksfinrep?nkb=299&date=20200201&period=m&json'

In [16]:
url_all='https://bank.gov.ua/NBUStatService/v1/statdirectory/banksfinrep?start=20180101&period=m&json'
r = requests.get(url_all)
source_all=r.json()

In [74]:
#get all mfo
mfo_list=list(set([(i['mfo']) for i in source_all]))
fullname_list=list(set([(i['fullname']) for i in source_all]))

In [64]:
name_pair = [(i['fullname'],i['mfo']) for i in source_all]

In [69]:
name_pair = set(name_pair)

In [73]:
[print(n,m) for n,m in name_pair if m=='380797']

АТ "СЕБ КОРПОРАТИВНИЙ БАНК" 380797

[None]

In [102]:
def get_data(mfo,id_api):
    BASE_URL = 'https://bank.gov.ua/NBUStatService/v1/statdirectory/banksfinrep?mfo={mfo}&id_api={id_api}&start=20200101&period=m&json'
    url = BASE_URL.format(mfo=mfo,id_api=id_api)
    r = requests.get(url)
    source=r.json()
    #data=pd.DataFrame(source)
    return source

In [84]:
get_data('380797','BS1_AssetsCash')

,dt,txt,txten,id_api,leveli,parent,freq,nkb,mfo,fullname,gr_bank,r034,value,tzep
0,20200101,Активи - Грошові кошти та їх еквіваленти,Assets - Cash and cash equivalents,BS1_AssetsCash,2,BS1_AssetsTotal,M,455,380797,"АТ ""СЕБ КОРПОРАТИВНИЙ БАНК""",B,2,1.3629,T070_7
1,20200101,Активи - Грошові кошти та їх еквіваленти,Assets - Cash and cash equivalents,BS1_AssetsCash,2,BS1_AssetsTotal,M,455,380797,"АТ ""СЕБ КОРПОРАТИВНИЙ БАНК""",B,1,63.0624,T070_7
2,20200201,Активи - Грошові кошти та їх еквіваленти,Assets - Cash and cash equivalents,BS1_AssetsCash,2,BS1_AssetsTotal,M,455,380797,"АТ ""СЕБ КОРПОРАТИВНИЙ БАНК""",B,2,0.9114,T070_7
3,20200201,Активи - Грошові кошти та їх еквіваленти,Assets - Cash and cash equivalents,BS1_AssetsCash,2,BS1_AssetsTotal,M,455,380797,"АТ ""СЕБ КОРПОРАТИВНИЙ БАНК""",B,1,45.8574,T070_7
4,20200301,Активи - Грошові кошти та їх еквіваленти,Assets - Cash and cash equivalents,BS1_AssetsCash,2,BS1_AssetsTotal,M,455,380797,"АТ ""СЕБ КОРПОРАТИВНИЙ БАНК""",B,2,0.8563,T070_7
5,20200301,Активи - Грошові кошти та їх еквіваленти,Assets - Cash and cash equivalents,BS1_AssetsCash,2,BS1_AssetsTotal,M,455,380797,"АТ ""СЕБ КОРПОРАТИВНИЙ БАНК""",B,1,103.6996,T070_7
6,20200401,Активи - Грошові кошти та їх еквіваленти,Assets - Cash and cash equivalents,BS1_AssetsCash,2,BS1_AssetsTotal,M,455,380797,"АТ ""СЕБ КОРПОРАТИВНИЙ БАНК""",B,2,0.9380,T070_7
7,20200401,Активи - Грошові кошти та їх еквіваленти,Assets - Cash and cash equivalents,BS1_AssetsCash,2,BS1_AssetsTotal,M,455,380797,"АТ ""СЕБ КОРПОРАТИВНИЙ БАНК""",B,1,38.9307,T070_7
8,20200501,Активи - Грошові кошти та їх еквіваленти,Assets - Cash and cash equivalents,BS1_AssetsCash,2,BS1_AssetsTotal,M,455,380797,"АТ ""СЕБ КОРПОРАТИВНИЙ БАНК""",B,2,0.8970,T070_7
9,20200501,Активи - Грошові кошти та їх еквіваленти,Assets - Cash and cash equivalents,BS1_AssetsCash,2,BS1_AssetsTotal,M,455,380797,"АТ ""СЕБ КОРПОРАТИВНИЙ БАНК""",B,1,124.4557,T070_7
10,20200601,Активи - Грошові кошти та їх еквіваленти,Assets - Cash and cash equivalents,BS1_AssetsCash,2,BS1_AssetsTotal,M,455,380797,"АТ ""СЕБ КОРПОРАТИВНИЙ БАНК""",B,2,0.8988,T070_7
11,20200601,Активи - Грошові кошти та їх еквіваленти,Assets - Cash and cash equivalents,BS1_AssetsCash,2,BS1_AssetsTotal,M,455,380797,"АТ ""СЕБ КОРПОРАТИВНИЙ БАНК""",B,1,48.9112,T070_7
12,20200701,Активи - Грошові кошти та їх еквіваленти,Assets - Cash and cash equivalents,BS1_AssetsCash,2,BS1_AssetsTotal,M,455,380797,"АТ ""СЕБ КОРПОРАТИВНИЙ БАНК""",B,2,0.8967,T070_7
13,20200701,Активи - Грошові кошти та їх еквіваленти,Assets - Cash and cash equivalents,BS1_AssetsCash,2,BS1_AssetsTotal,M,455,380797,"АТ ""СЕБ КОРПОРАТИВНИЙ БАНК""",B,1,89.9980,T070_7
14,20200801,Активи - Грошові кошти та їх еквіваленти,Assets - Cash and cash equivalents,BS1_AssetsCash,2,BS1_AssetsTotal,M,455,380797,"АТ ""СЕБ КОРПОРАТИВНИЙ БАНК""",B,2,0.9436,T070_7
15,20200801,Активи - Грошові кошти та їх еквіваленти,Assets - Cash and cash equivalents,BS1_AssetsCash,2,BS1_AssetsTotal,M,455,380797,"АТ ""СЕБ КОРПОРАТИВНИЙ БАНК""",B,1,60.1928,T070_7

In [85]:
choice='АТ "СЕБ КОРПОРАТИВНИЙ БАНК"'
mfo=[m for n,m in name_pair if n==choice]
mfo

['380797']

In [86]:
get_data(mfo,id_api='BS1_AssetsCash')

,dt,txt,txten,id_api,leveli,parent,freq,nkb,mfo,fullname,gr_bank,r034,value,tzep
0,20200101,Активи - Грошові кошти та їх еквіваленти,Assets - Cash and cash equivalents,BS1_AssetsCash,2,BS1_AssetsTotal,M,455,380797,"АТ ""СЕБ КОРПОРАТИВНИЙ БАНК""",B,2,1.3629,T070_7
1,20200101,Активи - Грошові кошти та їх еквіваленти,Assets - Cash and cash equivalents,BS1_AssetsCash,2,BS1_AssetsTotal,M,455,380797,"АТ ""СЕБ КОРПОРАТИВНИЙ БАНК""",B,1,63.0624,T070_7
2,20200201,Активи - Грошові кошти та їх еквіваленти,Assets - Cash and cash equivalents,BS1_AssetsCash,2,BS1_AssetsTotal,M,455,380797,"АТ ""СЕБ КОРПОРАТИВНИЙ БАНК""",B,2,0.9114,T070_7
3,20200201,Активи - Грошові кошти та їх еквіваленти,Assets - Cash and cash equivalents,BS1_AssetsCash,2,BS1_AssetsTotal,M,455,380797,"АТ ""СЕБ КОРПОРАТИВНИЙ БАНК""",B,1,45.8574,T070_7
4,20200301,Активи - Грошові кошти та їх еквіваленти,Assets - Cash and cash equivalents,BS1_AssetsCash,2,BS1_AssetsTotal,M,455,380797,"АТ ""СЕБ КОРПОРАТИВНИЙ БАНК""",B,2,0.8563,T070_7
5,20200301,Активи - Грошові кошти та їх еквіваленти,Assets - Cash and cash equivalents,BS1_AssetsCash,2,BS1_AssetsTotal,M,455,380797,"АТ ""СЕБ КОРПОРАТИВНИЙ БАНК""",B,1,103.6996,T070_7
6,20200401,Активи - Грошові кошти та їх еквіваленти,Assets - Cash and cash equivalents,BS1_AssetsCash,2,BS1_AssetsTotal,M,455,380797,"АТ ""СЕБ КОРПОРАТИВНИЙ БАНК""",B,2,0.9380,T070_7
7,20200401,Активи - Грошові кошти та їх еквіваленти,Assets - Cash and cash equivalents,BS1_AssetsCash,2,BS1_AssetsTotal,M,455,380797,"АТ ""СЕБ КОРПОРАТИВНИЙ БАНК""",B,1,38.9307,T070_7
8,20200501,Активи - Грошові кошти та їх еквіваленти,Assets - Cash and cash equivalents,BS1_AssetsCash,2,BS1_AssetsTotal,M,455,380797,"АТ ""СЕБ КОРПОРАТИВНИЙ БАНК""",B,2,0.8970,T070_7
9,20200501,Активи - Грошові кошти та їх еквіваленти,Assets - Cash and cash equivalents,BS1_AssetsCash,2,BS1_AssetsTotal,M,455,380797,"АТ ""СЕБ КОРПОРАТИВНИЙ БАНК""",B,1,124.4557,T070_7
10,20200601,Активи - Грошові кошти та їх еквіваленти,Assets - Cash and cash equivalents,BS1_AssetsCash,2,BS1_AssetsTotal,M,455,380797,"АТ ""СЕБ КОРПОРАТИВНИЙ БАНК""",B,2,0.8988,T070_7
11,20200601,Активи - Грошові кошти та їх еквіваленти,Assets - Cash and cash equivalents,BS1_AssetsCash,2,BS1_AssetsTotal,M,455,380797,"АТ ""СЕБ КОРПОРАТИВНИЙ БАНК""",B,1,48.9112,T070_7
12,20200701,Активи - Грошові кошти та їх еквіваленти,Assets - Cash and cash equivalents,BS1_AssetsCash,2,BS1_AssetsTotal,M,455,380797,"АТ ""СЕБ КОРПОРАТИВНИЙ БАНК""",B,2,0.8967,T070_7
13,20200701,Активи - Грошові кошти та їх еквіваленти,Assets - Cash and cash equivalents,BS1_AssetsCash,2,BS1_AssetsTotal,M,455,380797,"АТ ""СЕБ КОРПОРАТИВНИЙ БАНК""",B,1,89.9980,T070_7
14,20200801,Активи - Грошові кошти та їх еквіваленти,Assets - Cash and cash equivalents,BS1_AssetsCash,2,BS1_AssetsTotal,M,455,380797,"АТ ""СЕБ КОРПОРАТИВНИЙ БАНК""",B,2,0.9436,T070_7
15,20200801,Активи - Грошові кошти та їх еквіваленти,Assets - Cash and cash equivalents,BS1_AssetsCash,2,BS1_AssetsTotal,M,455,380797,"АТ ""СЕБ КОРПОРАТИВНИЙ БАНК""",B,1,60.1928,T070_7

In [154]:
mfos=['380797','353100','300506','307350']

In [157]:
da=[]
for i in mfos:
    da+=get_data(i,id_api='BS1_AssetsCash')

In [158]:
df=pd.DataFrame(da)

In [160]:
df['dt']=pd.to_datetime(df.dt)

In [167]:
df

,dt,txt,txten,id_api,leveli,parent,freq,nkb,mfo,fullname,gr_bank,r034,value,tzep
0,2020-01-01,Активи - Грошові кошти та їх еквіваленти,Assets - Cash and cash equivalents,BS1_AssetsCash,2,BS1_AssetsTotal,M,455,380797,"АТ ""СЕБ КОРПОРАТИВНИЙ БАНК""",B,2,1.3629,T070_7
1,2020-01-01,Активи - Грошові кошти та їх еквіваленти,Assets - Cash and cash equivalents,BS1_AssetsCash,2,BS1_AssetsTotal,M,455,380797,"АТ ""СЕБ КОРПОРАТИВНИЙ БАНК""",B,1,63.0624,T070_7
2,2020-02-01,Активи - Грошові кошти та їх еквіваленти,Assets - Cash and cash equivalents,BS1_AssetsCash,2,BS1_AssetsTotal,M,455,380797,"АТ ""СЕБ КОРПОРАТИВНИЙ БАНК""",B,2,0.9114,T070_7
3,2020-02-01,Активи - Грошові кошти та їх еквіваленти,Assets - Cash and cash equivalents,BS1_AssetsCash,2,BS1_AssetsTotal,M,455,380797,"АТ ""СЕБ КОРПОРАТИВНИЙ БАНК""",B,1,45.8574,T070_7
4,2020-03-01,Активи - Грошові кошти та їх еквіваленти,Assets - Cash and cash equivalents,BS1_AssetsCash,2,BS1_AssetsTotal,M,455,380797,"АТ ""СЕБ КОРПОРАТИВНИЙ БАНК""",B,2,0.8563,T070_7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,2020-06-01,Активи - Грошові кошти та їх еквіваленти,Assets - Cash and cash equivalents,BS1_AssetsCash,2,BS1_AssetsTotal,M,326,307350,"АТ ""АКБ ""КОНКОРД""",E,1,246.8163,T070_7
60,2020-07-01,Активи - Грошові кошти та їх еквіваленти,Assets - Cash and cash equivalents,BS1_AssetsCash,2,BS1_AssetsTotal,M,326,307350,"АТ ""АКБ ""КОНКОРД""",E,2,143.3286,T070_7
61,2020-07-01,Активи - Грошові кошти та їх еквіваленти,Assets - Cash and cash equivalents,BS1_AssetsCash,2,BS1_AssetsTotal,M,326,307350,"АТ ""АКБ ""КОНКОРД""",E,1,285.6096,T070_7
62,2020-08-01,Активи - Грошові кошти та їх еквіваленти,Assets - Cash and cash equivalents,BS1_AssetsCash,2,BS1_AssetsTotal,M,326,307350,"АТ ""АКБ ""КОНКОРД""",E,2,167.9261,T070_7
63,2020-08-01,Активи - Грошові кошти та їх еквіваленти,Assets - Cash and cash equivalents,BS1_AssetsCash,2,BS1_AssetsTotal,M,326,307350,"АТ ""АКБ ""КОНКОРД""",E,1,214.3636,T070_7

In [179]:
df.groupby([df.dt,df.mfo,df.fullname]).value.sum().reset_index()

           dt     mfo                        fullname     value
0  2020-01-01  300506  АТ "ПЕРШИЙ ІНВЕСТИЦІЙНИЙ БАНК"  145.8687
1  2020-01-01  307350               АТ "АКБ "КОНКОРД"  221.0223
2  2020-01-01  353100                     Полікомбанк   67.8449
3  2020-01-01  380797     АТ "СЕБ КОРПОРАТИВНИЙ БАНК"   64.4253
4  2020-02-01  300506  АТ "ПЕРШИЙ ІНВЕСТИЦІЙНИЙ БАНК"  154.9942
5  2020-02-01  307350               АТ "АКБ "КОНКОРД"  345.1133
6  2020-02-01  353100                     Полікомбанк   87.1267
7  2020-02-01  380797     АТ "СЕБ КОРПОРАТИВНИЙ БАНК"   46.7688
8  2020-03-01  300506  АТ "ПЕРШИЙ ІНВЕСТИЦІЙНИЙ БАНК"   88.3602
9  2020-03-01  307350               АТ "АКБ "КОНКОРД"  338.1168
10 2020-03-01  353100                     Полікомбанк   85.7761
11 2020-03-01  380797     АТ "СЕБ КОРПОРАТИВНИЙ БАНК"  104.5559
12 2020-04-01  300506  АТ "ПЕРШИЙ ІНВЕСТИЦІЙНИЙ БАНК"  117.6932
13 2020-04-01  307350               АТ "АКБ "КОНКОРД"  413.8058
14 2020-04-01  353100                     Полікомбанк  106.8684
15 2020-04-01  380797     АТ "СЕБ КОРПОРАТИВНИЙ БАНК"   39.8687
16 2020-05-01  300506  АТ "ПЕРШИЙ ІНВЕСТИЦІЙНИЙ БАНК"  107.8976
17 2020-05-01  307350               АТ "АКБ "КОНКОРД"  386.0234
18 2020-05-01  353100                     Полікомбанк   65.9834
19 2020-05-01  380797     АТ "СЕБ КОРПОРАТИВНИЙ БАНК"  125.3527
20 2020-06-01  300506  АТ "ПЕРШИЙ ІНВЕСТИЦІЙНИЙ БАНК"   86.2734
21 2020-06-01  307350               АТ "АКБ "КОНКОРД"  425.0180
22 2020-06-01  353100                     Полікомбанк  106.2673
23 2020-06-01  380797     АТ "СЕБ КОРПОРАТИВНИЙ БАНК"   49.8100
24 2020-07-01  300506  АТ "ПЕРШИЙ ІНВЕСТИЦІЙНИЙ БАНК"  161.3053
25 2020-07-01  307350               АТ "АКБ "КОНКОРД"  428.9382
26 2020-07-01  353100                     Полікомбанк  100.0405
27 2020-07-01  380797     АТ "СЕБ КОРПОРАТИВНИЙ БАНК"   90.8947
28 2020-08-01  300506  АТ "ПЕРШИЙ ІНВЕСТИЦІЙНИЙ БАНК"  132.3540
29 2020-08-01  307350               АТ "АКБ "КОНКОРД"  382.2897
30 2020-08-01  353100                     Полікомбанк   72.5814
31 2020-08-01  380797     АТ "СЕБ КОРПОРАТИВНИЙ БАНК"   61.1364

In [181]:
name_list=[i[0] for i in name_pair]

In [183]:
select_name=['АТ "СЕБ КОРПОРАТИВНИЙ БАНК"',
 'АТ "ПІРЕУС БАНК МКБ"',
 'АТ "КРЕДИТВЕСТ БАНК"',
 'АТ "ПЕРШИЙ ІНВЕСТИЦІЙНИЙ БАНК"',
 'ПАТ "ДІВІ БАНК"',
 'АТ "БАНК "ПОРТАЛ"',
 'АТ "Ощадбанк"']

In [191]:
[i[1] for i in name_pair if i[0] in select_name]

['380797', '300658', '380441', '300506', '380827', '339016', '300465']