In [1]:
import requests
import pandas as pd
import json

In [53]:
#url= 'https://bank.gov.ua/NBUStatService/v1/statdirectory/banksfinrep?start=20180101&period=m&json'
#: https://bank.gov.ua/NBUStatService/v1/statdirectory/grossextdebt?s181=1&id_api=ED_IIP_GG_loans_L&freq=Q&json
url= 'https://bank.gov.ua/NBUStatService/v1/statdirectory/banksfinrep?mfo=305299&date=20200201&period=m&json'
r=requests.get(url)
r

In [54]:
source=r.json()

In [55]:
data=pd.DataFrame(source)

In [56]:
data.fullname.unique()

array(['АТ КБ "ПриватБанк"'], dtype=object)

In [49]:
#data.to_csv('data.csv')

In [6]:
data=pd.DataFrame(source)
data.dt.unique()

array(['20180101'], dtype=object)

In [7]:
pd.to_datetime(data.dt)

0      2018-01-01
1      2018-01-01
2      2018-01-01
3      2018-01-01
4      2018-01-01
          ...
8025   2018-01-01
8026   2018-01-01
8027   2018-01-01
8028   2018-01-01
8029   2018-01-01
Name: dt, Length: 8030, dtype: datetime64[ns]

In [11]:
data[data.leveli==1].parent.unique()

array(['Fin_Report_Banks'], dtype=object)

In [16]:
data[data.leveli==1].id_api.unique()

array(['BS1_ExpenTotal', 'BS1_IncomeTotal', 'BS1_AssetsTotal',
       'BS1_LiabTotal', 'BS1_ProfitLossBeforTax',
       'BS1_ProfitLossAfterTax', 'BS1_CapitalTotal'], dtype=object)

In [12]:
data[data.leveli==2].parent.unique()

array(['BS1_AssetsTotal', 'BS1_ExpenTotal', 'BS1_IncomeTotal',
       'BS1_Capital_Total', 'BS1_LiabTotal', 'BS1_ProfitAfterTax'],
      dtype=object)

In [13]:
data[data.leveli==3].parent.unique()

array(['BS1_AssetsLoansClients', 'BS1_AssetsLoanCust', 'BS1_TradeRes',
       'BS1_AssetsSecurFVOCI', 'BS1_AssetsSecurAC', 'BS1_LiabCust',
       'BS1_NetInterIncomeExpen', 'BS1_AllocProv',
       'BS1_NetCommIncomeExpen', 'Assets_Other_Fin', 'BS1_AssetsOther',
       'BS1_AdminOperCosts', 'BS1_FinAssetsFairVal',
       'BS1_AccountsOtherBanks', 'BS1_AssetsCash'], dtype=object)

In [17]:
data[data.leveli==2].id_api.unique()

array(['BS1_AssetsLoansClients', 'BS1_AssetsSecurFVOCI',
       'BS1_AdminOperCosts', 'BS1_AssetsOther', 'BS1_AssetsNet',
       'BS1_NetIncome', 'BS1_AllocProv', 'BS1_AssetsProvTotal',
       'BS1_ShareCapital', 'BS1_AssetsSecurAC', 'BS1_LiabBanks',
       'BS1_LiabCust', 'BS1_CapitalRevalReserves', 'BS1_LiabOtherFin',
       'BS1_LiabOther', 'BS1_SharePremAccount', 'BS1_OtherCapital',
       'BS1_CapitaReserves', 'BS1_AssetsInvestSubsid',
       'BS1_AssetsInvestProp', 'BS1_NonRegistShareCapital',
       'BS1_NetCommIncomeCosts', 'BS1_OtherOperIncome',
       'BS1_NetInterIncomeCosts', 'BS1_CapitalEarnLoss',
       'BS1_AssetsReceivCurrIncTax', 'BS1_AssetsDeferTax',
       'BS1_AssetsCapitalNominal', 'BS1_AssetsIGLBRefinNBU',
       'BS1_FinLiabFairVal', 'BS1_LiabDebtSecur',
       'BS1_LiabOtherBorrFunds', 'BS1_AssetsOtherFin', 'BS1_LiabProv',
       'BS1_LiabDeferrTax', 'BS1_AssetsCash', 'BS1_LiabCurrentIncomeTax',
       'BS1_LiabNBU', 'BS1_LiabSubDebt', 'BS1_AssetsOtherBanks',
       'BS1_IncomeTaxExpen', 'BS1_OtherIncome', 'BS1_FinAssetsFairVal'],
      dtype=object)

In [14]:
data[data.leveli==4].parent.unique()

array(['BS1_AssetsLoansIndiv', 'BS1_AssetsLoansLE', 'BS1_ExpenInterest',
       'BS1_LiabLE', 'BS1_IncomeInterest', 'BS1_LiabIndiv'], dtype=object)

In [18]:
data.columns

Index(['dt', 'txt', 'txten', 'id_api', 'leveli', 'parent', 'freq', 'nkb',
       'mfo', 'fullname', 'gr_bank', 'r034', 'value', 'tzep'],
      dtype='object')

In [20]:
data.nkb.unique()

array([' 49', '290', ' 91', '326', '296', '392', ' 95', '106', '136',
       '270', '129', '634', '231', '115', '463', '105', '295', '  5',
       '  3', ' 62', '133', '321', ' 29', ' 36', '205', '242', '386',
       '  2', '113', '381', '274', '430', '395', '142', '153', '206',
       '305', '331', '389', '286', '513', '101', ' 42', '143', '240',
       '272', '243', '297', '311', '325', '387', '394', '288', '402',
       '455', '694', '553', '241', '128', '460', '146', '251', '320',
       '317', ' 96', '313', ' 97', ' 43', '377', '126', ' 72', '512',
       '407', '298', '329', '  6', '299', '171', ' 88', '191', '593',
       '123', '774', ' 46'], dtype=object)

In [21]:
data[data.nkb=='290'].fullname

1       АТ "ПЕРШИЙ ІНВЕСТИЦІЙНИЙ БАНК"
4       АТ "ПЕРШИЙ ІНВЕСТИЦІЙНИЙ БАНК"
282     АТ "ПЕРШИЙ ІНВЕСТИЦІЙНИЙ БАНК"
398     АТ "ПЕРШИЙ ІНВЕСТИЦІЙНИЙ БАНК"
453     АТ "ПЕРШИЙ ІНВЕСТИЦІЙНИЙ БАНК"
                     ...
7830    АТ "ПЕРШИЙ ІНВЕСТИЦІЙНИЙ БАНК"
7898    АТ "ПЕРШИЙ ІНВЕСТИЦІЙНИЙ БАНК"
7966    АТ "ПЕРШИЙ ІНВЕСТИЦІЙНИЙ БАНК"
7990    АТ "ПЕРШИЙ ІНВЕСТИЦІЙНИЙ БАНК"
8023    АТ "ПЕРШИЙ ІНВЕСТИЦІЙНИЙ БАНК"
Name: fullname, Length: 94, dtype: object

In [22]:
data.gr_bank.unique()

array(['E', 'B', 'A', 'F'], dtype=object)

In [24]:
data[data.gr_bank=='A'].fullname.unique()

array(['АТ "Укрексімбанк"', 'АБ "УКРГАЗБАНК"', 'АТ "Ощадбанк"',
       'ПАТ "РОЗРАХУНКОВИЙ ЦЕНТР"', 'АТ КБ "ПриватБанк"'], dtype=object)

In [25]:
data[data.gr_bank=='B'].fullname.unique()

array(['АТ "ОТП БАНК"', 'АТ "УКРСИББАНК"', 'АТ "БТА БАНК"',
       'АТ "ІНГ Банк Україна"', 'АТ "УКРСОЦБАНК"', 'ПАТ "Промінвестбанк"',
       'АТ "БМ БАНК"', 'АТ "Райффайзен Банк Аваль"', 'АТ "Ідея Банк"',
       'АТ "ПРАВЕКС БАНК"', 'АТ "КРЕДИТВЕСТ БАНК"', 'АТ "ВТБ БАНК"',
       'АТ "АЛЬФА-БАНК"', 'АТ "СІТІБАНК"', 'АТ "БАНК ФОРВАРД"',
       'АТ "СЕБ КОРПОРАТИВНИЙ БАНК"', 'АТ "ПІРЕУС БАНК МКБ"',
       'АТ "Дойче Банк ДБУ"', 'АТ "ПРОКРЕДИТ БАНК"',
       'АТ "КРЕДИТ ЄВРОПА БАНК"', 'АТ "СБЕРБАНК"',
       'АТ "КРЕДІ АГРІКОЛЬ БАНК"', 'АТ "КРЕДОБАНК"'], dtype=object)

In [28]:
data[data.gr_bank=='E'].fullname.unique()

array(['Полікомбанк', 'АТ "ПЕРШИЙ ІНВЕСТИЦІЙНИЙ БАНК"', 'АТ АКБ "Львів"',
       'АТ "АКБ "КОНКОРД"', 'ПуАТ "КБ "АКОРДБАНК"', 'АТ "ОКСІ БАНК"',
       'Акціонерний банк "Південний"', 'АТ "БАНК КРЕДИТ ДНІПРО"',
       'АТ "БАНК "ПОРТАЛ"', 'АТ "ЮНЕКС БАНК"', 'АТ "ПУМБ"',
       'ПАТ "ДІВІ БАНК"', 'ПАТ "МТБ БАНК"', 'АТ "ТАСКОМБАНК"',
       'АТ "АСВІО БАНК"', 'АТ "БАНК АЛЬЯНС"', 'АТ "МетаБанк"',
       'АТ "УНІВЕРСАЛ БАНК"', 'АТ "КБ "ГЛОБУС"', 'АТ "Полтава-банк"',
       'АТ "МОТОР-БАНК"', 'ПАТ КБ "Центр"', 'АТ "ЄПБ"', 'АТ "Місто Банк"',
       'ПАТ "БАНК ВОСТОК"', 'АТ "МІБ"', 'АТ "АБ "РАДАБАНК"',
       'АКБ "ІНДУСТРІАЛБАНК"', 'АТ "КОМІНВЕСТБАНК"', 'АТ "КІБ"',
       'АТ "КБ "ЗЕМЕЛЬНИЙ КАПІТАЛ"', 'АТ "БАНК ТРАСТ-КАПІТАЛ"',
       'АТ "АП БАНК"', 'АТ "БАНК 3/4"', 'АБ "КЛІРИНГОВИЙ ДІМ"',
       'АТ "ВЕРНУМ БАНК"', 'АТ "КРИСТАЛБАНК"', 'АТ "БАНК АВАНГАРД"',
       'АТ "АЙБОКС БАНК"', 'АТ "СКАЙ БАНК"', 'АТ "БАНК СІЧ"',
       'АТ "БАНК "УКРАЇНСЬКИЙ КАПІТАЛ"',
       'АТ "БАНК ІНВЕСТИЦІЙ ТА ЗАОЩАДЖЕНЬ"', 'АТ "А - БАНК"',
       'АТ "Український банк реконструкції та розвитку"',
       'ПАТ "ВіЕс Банк"', 'АТ "АЛЬТБАНК"', 'АТ "УКРБУДІНВЕСТБАНК"',
       'АТ "МЕГАБАНК"', 'ПрАТ "БАНК ФАМІЛЬНИЙ"', 'АТ "АЛЬПАРІ БАНК"',
       'АТ АКБ "АРКАДА"', 'АТ "БАНК "ГРАНТ"', 'АТ "РВС БАНК"'],
      dtype=object)

In [29]:
data[data.gr_bank=='F'].fullname.unique()

array(['ПАТ "БАНК "ЮНІСОН"', 'ПАТ "КБ "ФІНАНСОВА ІНІЦІАТИВА"'],
      dtype=object)

In [31]:
data.r034.unique()

array(['2', '1'], dtype=object)

In [43]:
data.tzep.unique()

array(['T070_7'], dtype=object)

In [57]:
pd.read_csv("data.csv")

,Unnamed: 0,dt,txt,txten,id_api,leveli,parent,freq,nkb,mfo,fullname,gr_bank,r034,value,tzep
0,0,20180101,Активи - Резерви під знецінення кредитів та за...,Assets - Provision for impairment of loans and...,BS1_AssetsProvLoansIndiv,4,BS1_AssetsLoansIndiv,M,49,353100,Полікомбанк,E,2,-0.0895,T070_7
1,1,20180101,Активи - Резерви під знецінення кредитів та за...,Assets - Provision for impairment of loans and...,BS1_AssetsProvLoansIndiv,4,BS1_AssetsLoansIndiv,M,290,300506,"АТ ""ПЕРШИЙ ІНВЕСТИЦІЙНИЙ БАНК""",E,1,-0.5868,T070_7
2,2,20180101,Активи - Кредити та заборгованість клієнтів,Assets - Loans and receivables from customers,BS1_AssetsLoansClients,2,BS1_AssetsTotal,M,91,325268,"АТ АКБ ""Львів""",E,2,447.5060,T070_7
3,3,20180101,Активи - Кредити та заборгованість клієнтів,Assets - Loans and receivables from customers,BS1_AssetsLoansClients,2,BS1_AssetsTotal,M,326,307350,"АТ ""АКБ ""КОНКОРД""",E,2,28.1171,T070_7
4,4,20180101,Активи - Кредити та заборгованість клієнтів,Assets - Loans and receivables from customers,BS1_AssetsLoansClients,2,BS1_AssetsTotal,M,290,300506,"АТ ""ПЕРШИЙ ІНВЕСТИЦІЙНИЙ БАНК""",E,2,168.3048,T070_7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245479,245479,20200801,Зобов'язання - Резерви за зобов’язаннями,Liabilities - Provision against liabilities,BS1_LiabProv,2,BS1_LiabTotal,M,774,339072,"АТ ""РВС БАНК""",E,1,0.9200,T070_7
245480,245480,20200801,Активи - Усього активів,Assets - Total assets,BS1_AssetsTotal,1,Fin_Report_Banks,M,774,339072,"АТ ""РВС БАНК""",E,2,272.7437,T070_7
245481,245481,20200801,Активи - Усього активів,Assets - Total assets,BS1_AssetsTotal,1,Fin_Report_Banks,M,774,339072,"АТ ""РВС БАНК""",E,1,975.9768,T070_7
245482,245482,20200801,Зобов'язання - Кошти клієнтів-юридичних осіб н...,Liabilities - Demand deposits from legal entities,BS1_LiabLEDemand,4,BS1_LiabLE,M,774,339072,"АТ ""РВС БАНК""",E,2,47.2667,T070_7
245483,245483,20200801,Зобов'язання - Кошти клієнтів-юридичних осіб н...,Liabilities - Demand deposits from legal entities,BS1_LiabLEDemand,4,BS1_LiabLE,M,774,339072,"АТ ""РВС БАНК""",E,1,375.8035,T070_7